.footer__contacts-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
}

@media screen and (max-width: 1023px) {
    .footer__contacts-text  {
        width: 634px;
        margin-top: 15px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer__contacts-text  {
        font-size: 14px;
        line-height: 16px;
        width: 267px;
        margin-top: 12px;
    }
  }